body {
  background-color: #fff;
  color: rgb(201, 183, 183);
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  margin: 0;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  color:black;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
// header
header {
  margin-top: 0;
  background:linear-gradient(to left,rgb(99, 98, 98),rgb(215, 215, 226));
  height: 70px;
  display: flex;
  
}
.pc{
  margin-top: 0;
  background:linear-gradient(to left,rgb(198, 184, 184),rgb(215, 215, 226));
  height: 70px;
  display: flex;

}
.navbar{
  margin-left: auto;
  display: flex;
}
.navbar li{
  list-style: none;
  color:#fff;
  text-align: center;
  margin: 10px;
}
// footer
.main{
  flex:1
}

.main-footer{
  height: 40px;
  background:linear-gradient(to left,rgb(149, 145, 145),rgb(166, 166, 191));
  text-align: center;
  width: 100%;
  vertical-align: middle;
  color:#f0f0f0;
  bottom: 0;
}
// picture new.html
.post-form{
  text-align: center;
  margin-top: 5%;
  border-color: rgb(147, 175, 175);
  border:1px solid  rgb(246, 246, 248);
  background-color: #e1d5ca;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 40%;
  border-radius: 5px;
  padding: 10px 10px;
  border-bottom: 1px solid gray;
  display: inline-block;
  box-shadow: 0 0 5px 6px #eceef1;
}
// user registration.form
.login-form{
  background-image: linear-gradient(40deg, #f6fafd, rgb(210, 199, 199));
  margin-top: 2%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  border: solid 1px rgb(236, 225, 225);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 5px 6px #eceef1;
}
